<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ current_rubric.name }} ::Board of posts</title>
</head>
<body>
<h1>Obyavleniya</h1>
<h1>Rubric: {{ current_rubric.name }}</h1>

<div>
    <a href="{% url 'index' %}">Main</a>
    {% for rubric in rubrics %}

        <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>

    {% endfor %}

    {% for bb in bbs %}
        <div>
            <h2>{{ bb.title }}</h2>
            <p>{{ bb.content }}</p>
            <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
        </div>
    {% endfor %}
</div>

</body>
</html>